In [3]:
import pandas as pd
import numpy as np
import matplotlib as mpl 
import matplotlib.pyplot as plt
%matplotlib inline  
import datetime as dt

In [6]:
url = 'https://reveliolabs.s3.us-east-2.amazonaws.com/DB_MidtermSampleData_Mar21.csv'
df = pd.read_csv(url)
df

,company,sector,month,job_category,region,gender,count,inflow,outflow
0,SAP SE,Information Technology,2013-10,technician,South America,female,50.711959,4.849139e-01,1.406462e+00
1,Wells Fargo & Company,Financials,2013-10,technician,Pacific Islands,female,1.819455,6.467172e-07,6.981965e-07
2,MICROSOFT CORPORATION,Information Technology,2013-10,scientist,Northern America,male,1541.799779,3.127633e+01,2.168564e+01
3,DXC Technology Co,Information Technology,2013-10,sales,Western Europe,female,62.103364,3.428746e+00,4.043797e-03
4,United Technologies Corporation,Industrials,2013-10,administrative,Western Europe,male,77.189915,4.131975e-05,1.567777e-03
...,...,...,...,...,...,...,...,...,...
2379029,International Business Machines Corporation,Information Technology,2015-09,empty,Northern Europe,male,981.675002,3.283342e+01,2.577147e+01
2379030,IQVIA,Information Technology,2018-07,empty,South-Eastern Asia,male,47.651149,1.246570e+00,5.287461e-01
2379031,"Delta Air Lines, Inc.",Industrials,2016-10,administrative,Northern Africa,female,0.000000,0.000000e+00,0.000000e+00
2379032,"HCA Healthcare, Inc.",Health Care,2017-05,empty,Northern Europe,male,19.443301,6.653489e-01,5.603069e-01
2379033,"Amazon.com, Inc.",Consumer Discretionary,2019-07,empty,Central America and the Caribbean,male,238.107218,1.141602e+01,9.540265e+00

In [9]:
df['company'].unique()

array(['SAP SE', 'Wells Fargo & Company', 'MICROSOFT CORPORATION',
       'DXC Technology Co', 'United Technologies Corporation',
       'Amazon.com, Inc.', 'IQVIA', 'Coca-Cola Company', 'Walmart Inc',
       'Vodafone Group PLC', 'Infosys Ltd', 'Toyota Motor Corp',
       'Facebook Inc', 'JPMorgan Chase', 'Medtronic PLC',
       'Verizon Communications Inc.', 'PepsiCo, Inc.',
       'Hewlett Packard Enterprise Company', 'Aon PLC',
       'Target Corporation', 'Apple, Inc.', 'Cisco Systems, Inc.',
       'Alphabet Inc.', 'American Airlines Group, Inc.', 'HP Inc',
       'GENERAL MOTORS COMPANY', 'Nestle SA', 'The Boeing Company',
       'Accenture PLC', 'International Business Machines Corporation',
       'Volkswagen AG', 'Capgemini SE', 'Blackstone Group L.P.', 'AT&T',
       'CVS Health Corporation', 'Staples Inc.', 'Citigroup Inc',
       'WPP PLC', 'Unilever NV', 'Novartis AG', 'UnitedHealth Group Inc',
       'Ford Motor Company', 'Orange SA', 'Omnicom Group Inc',
       'FedEx Corporation', 'Siemens AG', 'Barclays PLC',
       'HSBC Holdings PLC', 'Honeywell International Inc',
       'Dell Technologies Inc', 'Merck & Co., Inc.',
       'Procter & Gamble Co', 'Oracle Corporation',
       'Lockheed Martin Corporation', 'Bayer AG', 'Starbucks Corporation',
       'Abbott Laboratories', 'Wipro Ltd', 'Morgan Stanley', 'Tata Group',
       'GlaxoSmithKline PLC', 'Walt Disney Company',
       'HCL Technologies Ltd', 'Roche Holding AG', 'Banco Santander SA',
       'Intel Corporation', 'Comcast Corporation', 'Atos SE',
       'Pfizer Inc', 'Bank of America Corporation',
       'HCA Healthcare, Inc.', 'Delta Air Lines, Inc.', 'Caterpillar Inc',
       'General Electric Company', 'Northrop Grumman Corporation',
       'ABB Ltd', 'Johnson & Johnson'], dtype=object)

In [10]:
df['company'].nunique()

77

In [11]:
df['sector'].unique()

array(['Information Technology', 'Financials', 'Industrials',
       'Consumer Discretionary', 'Consumer Staples', 'Communication',
       'Health Care'], dtype=object)

In [12]:
df['month'].unique()

array(['2013-10', '2013-11', '2013-12', '2014-01', '2014-02', '2014-03',
       '2014-04', '2014-05', '2014-06', '2014-07', '2014-08', '2014-09',
       '2014-10', '2014-11', '2014-12', '2015-01', '2015-02', '2015-03',
       '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09',
       '2015-10', '2015-11', '2015-12', '2016-01', '2016-02', '2016-03',
       '2016-04', '2016-05', '2017-06', '2016-06', '2017-07', '2016-07',
       '2017-08', '2016-08', '2017-09', '2016-09', '2017-10', '2016-10',
       '2017-11', '2016-11', '2017-12', '2016-12', '2018-01', '2017-01',
       '2018-02', '2017-02', '2018-03', '2017-03', '2018-04', '2017-04',
       '2018-05', '2017-05', '2018-06', '2018-07', '2018-08', '2018-09',
       '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03',
       '2012-01', '2012-02', '2012-03', '2012-04', '2021-01', '2019-04',
       '2012-05', '2019-05', '2012-06', '2019-06', '2012-07', '2019-07',
       '2012-08', '2019-08', '2012-09', '2019-09', '2012-10', '2019-10',
       '2012-11', '2019-11', '2012-12', '2019-12', '2013-01', '2020-01',
       '2013-02', '2020-02', '2013-03', '2020-03', '2013-04', '2020-04',
       '2020-05', '2013-05', '2020-06', '2013-06', '2013-07', '2020-07',
       '2020-08', '2013-08', '2020-09', '2013-09', '2020-10', '2020-11',
       '2020-12'], dtype=object)

In [13]:
df['region'].unique()

array(['South America', 'Pacific Islands', 'Northern America',
       'Western Europe', 'South-Eastern Asia', 'Eastern Europe',
       'Eastern Asia', 'Northern Africa', 'Central and Western Asia',
       'Sub-Saharan Africa', 'empty', 'Southern Asia',
       'Central America and the Caribbean', 'Northern Europe',
       'Arab States', 'Southern Europe'], dtype=object)

In [14]:
df['gender'].value_counts()

female    1189517
male      1189517
Name: gender, dtype: int64

In [15]:
df['count'].mean()

773.6731477899239

In [17]:
df['count'].min()

0.0

In [18]:
df['count'].max()

266605.21549496

In [20]:
df['inflow'].max()

12181.569750691498

In [21]:
df['inflow'].mean()

11.98507778394389

In [29]:
amazon = df.loc[(df['company']=='Amazon.com, Inc.'),:]
amazon_2020 = amazon.loc[]

In [30]:
fig,ax = plt.subplots()
amazon.plot.bar(x = 'Year', ax=ax, color = ['r','y','b'], stacked=True)